<section ng-controller="BlockHeadersController" data-ng-init="list()" class="container">
    <div class="row">
        <div class="col-xs-12 col-gray col-gray-fixed block_header_filtering_sidebar">

            <h3>Filter blocks</h3>

            <h4>By Mining Pool</h4>
            <select ng-model="block_headers.filtration.pool_name" ng-change="list(1)" class="form-control" ng-options="pool || 'Any' for pool in pools_available"></select>

            <h4>By Height</h4>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">from</span>
                <input class="form-control" ng-model="block_headers.filtration.height__gte">
            </div>
            <div class="input-group input-group-sm" style="margin-top: -1px;">
                <span class="input-group-addon">to</span>
                <input class="form-control" ng-model="block_headers.filtration.height__lte">
            </div>

            <h4>By Size</h4>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">from</span>
                <input class="form-control" ng-model="block_headers.filtration.size__gte">
            </div>
            <div class="input-group input-group-sm" style="margin-top: -1px;">
                <span class="input-group-addon">to</span>
                <input class="form-control" ng-model="block_headers.filtration.size__lte">
            </div>

            <h4>By Transactions</h4>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">from</span>
                <input class="form-control" ng-model="block_headers.filtration.txlength__gte">
            </div>
            <div class="input-group input-group-sm" style="margin-top: -1px;">
                <span class="input-group-addon">to</span>
                <input class="form-control" ng-model="block_headers.filtration.txlength__lte">
            </div>
            
            <!--<br/>-->
            <!--<button class="btn btn-primary" ng-click="list(1)">Filter</button>-->

            <!--<br/>-->
            <br/>
            <p>
                <strong><ng-pluralize count="block_headers.pagination.total"
                              when="{'0': 'no blocks',
                           'one': '{{block_headers.pagination.total}} block',
                           'other': '{{block_headers.pagination.total}} blocks'}">
                </ng-pluralize> found</strong><!--, presented in
                <ng-pluralize count="block_headers.pagination.total_pages"
                              when="{'0': 'no pages',
                           'one': '{{block_headers.pagination.total_pages}} page',
                           'other': '{{block_headers.pagination.total_pages}} pages'}">
                </ng-pluralize> with max
                <ng-pluralize count="block_headers.pagination.per_page"
                              when="{'0': 'no blocks',
                           'one': '{{block_headers.pagination.per_page}} block',
                           'other': '{{block_headers.pagination.per_page}} blocks'}">
                </ng-pluralize> per page.-->
            </p>

        </div>

        <div class="col-xs-12 col-md-9 col-md-offset-3">

            <table class="table table-hover table-striped block_header">
                <thead>
                    <tr>
                        <!--<th style="cursor: pointer;" ng-click="changeSorting('hash')">Hash</th>-->
                        <th style="cursor: pointer;" ng-click="changeSorting('height')">Height</th>
                        <th style="min-width: 80px; cursor: pointer;" ng-click="changeSorting('time')">Time</th>
                        <th style="cursor: pointer;" ng-click="changeSorting('size')">Size</th>
                        <th style="cursor: pointer;" ng-click="changeSorting('pool_name')">Mined by</th>
                        <th style="cursor: pointer;" ng-click="changeSorting('txlength')"><span class="longname">Transactions</span><span class="shortname">TXs</span></span></th>
                    </tr>
                    <tr class="block_header_filtering_row">
                        <!--<th></th>-->
                        <th>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">from</span>
                                <input class="form-control" ng-model="block_headers.filtration.height__gte">
                            </div>
                            <div class="input-group input-group-sm" style="margin-top: -1px;">
                                <span class="input-group-addon">to</span>
                                <input class="form-control" ng-model="block_headers.filtration.height__lte">
                            </div>
                        </th>
                        <th style="min-width: 80px;"></th>
                        <th>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">from</span>
                                <input class="form-control" ng-model="block_headers.filtration.size__gte">
                            </div>
                            <div class="input-group input-group-sm" style="margin-top: -1px;">
                                <span class="input-group-addon">to</span>
                                <input class="form-control" ng-model="block_headers.filtration.size__lte">
                            </div>
                        </th>
                        <th style="min-width: 100px;">
                            <select ng-model="block_headers.filtration.pool_name" ng-change="list(1)" class="form-control" ng-options="pool || 'Any' for pool in pools_available"></select>
                        </th>
                        <th>
                            <div class="input-group input-group-sm">
                                <span class="input-group-addon">from</span>
                                <input class="form-control" ng-model="block_headers.filtration.txlength__gte">
                            </div>
                            <div class="input-group input-group-sm" style="margin-top: -1px;">
                                <span class="input-group-addon">to</span>
                                <input class="form-control" ng-model="block_headers.filtration.txlength__lte">
                            </div>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-show="!block_headers.rows.length">
                        <td colspan="5">Waiting for data... <span class="loader-gif"></span></td>
                    </tr>
                    <tr data-ng-repeat='block_header in block_headers.rows|orderBy:sort.column:sort.descending'>
                        <!--<td><a href="/block/{{ block_header.hash }}" title="go to block details">...{{ block_header.hash.slice(16, 64) }}</a></td>-->
                        <td><a href="/block/{{ block_header.hash }}" title="go to block details">{{ block_header.height }}</a></td>
                        <td>{{ block_header.time | date:'medium' }}</td>
                        <td>{{ block_header.size }}</td>
                        <td><a href="" ng-click="filter_by_pool(block_header.pool_name)">{{ block_header.pool_name }}</a></td>
                        <td>{{ block_header.txlength }}</td>
                    </tr>
                </tbody>
            </table>

            <nav>
                <ul class="pager pagination-sm" data-ng-show="block_headers.pagination_representation.length">
                    <li ng-class="{active: block_headers.pagination.current_page == page, disabled: page == '... ' || page == ' ...'}" data-ng-repeat='page in block_headers.pagination_representation'><a ng-click="list(page); $event.preventDefault(); $event.stopPropagation();" href="#{{page}}">{{page}}</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>

