<section ng-controller="CandlesticksController" data-ng-init="list()" class="chart_controller">
    <div class="container-fluid chart">
        <div id="home" class="row chart">

            <div class="col-xs-12 col-md-9 col-xlg-fit chart">

                <form class="form-inline" role="form" id="market_choice_form">
                    <div class="form-group pull-right" id="settings_buttons">
                        <a href="/api/markets/candlesticks/latest?market={{market}}&currency={{currency}}&period={{period}}&format=csv" target="_blank" class="btn btn-sm btn-export" title="Export as CSV"><span class="glyphicon glyphicon-download-alt"></span></a>
                        <button type="button" class="btn btn-sm btn-settings" title="Chart Settings" ng-click="openChartSettings()"><span class="glyphicon glyphicon-wrench"></span></button>
                    </div>

                    <div id="market_selectors">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <div class="input-group-addon">Exchange</div>
                                <select ng-model="market" class="form-control" ng-options="m.id as m.title for m in markets_available"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <div class="input-group-addon">Market</div>
                                <select id="currency" ng-model="currency" class="form-control">
                                    <option data-ng-repeat='c in currencies_available' value="{{ c }}">BTC/{{ c|uppercase }}</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <div class="input-group-addon">Period</div>
                                <select id="period" ng-model="period" class="form-control">
                                    <option value="20days">20 days</option>
                                    <option value="10days">10 days</option>
                                    <option value="day">day</option>
                                    <option value="12hours">12 hours</option>
                                    <option value="8hours">8 hours</option>
                                    <option value="4hours">4 hours</option>
                                    <option value="hour">hour</option>
                                    <option value="30minutes">30 minutes</option>
                                    <option value="15minutes">15 minutes</option>
                                    <option value="5minutes">5 minutes</option>
                                    <option value="minute">minute</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <div class="input-group-addon">As</div>
                                <select ng-model="chartConfig.series[0].type" class="form-control" ng-options="m.id as m.title for m in graph_modes_available"></select>
                            </div>
                        </div>
                    </div>

                </form>

                <highchart id="candlestick_chart" config="chartConfig" class="span10"></highchart>
            </div>

            <div class="col-xs-12 col-md-3 col-xlg-aside" id="orderbook">
                <div class="ticker">
                    <table class="table ticker table-condensed table-hover">
                        <thead>
                            <tr>
                                <th>ASK</th>
                                <th>BID</th>
                                <th>HIGH</th>
                                <th>LOW</th>
                                <th>LAST</th>
                            </tr>    
                        </thead>
                        <tbody>
                            <tr data-ng-show="ticker.loading">
                                <td colspan="5">Waiting for ticker...</td>
                            </tr>
                            <tr data-ng-show="!ticker.loading">
                                <td>{{ ticker.ask| number:2 }}</td>
                                <td>{{ ticker.bid| number:2 }}</td>
                                <td>{{ ticker.high| number:2 }}</td>
                                <td>{{ ticker.low| number:2 }}</td>
                                <td>{{ ticker.last| number:2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!--<h1>{{ market }} orderbook for {{ currency }}</h1>-->
                <table class="table table-condensed table-hover table-striped table-orderbook" style="table-layout: fixed">
                    <thead>
                        <!--<tr><th colspan="3">Buying</th></tr>-->
                        <tr>
                            <th class="price">Bid</th>
                            <th>Size</th>
                            <th>Sum</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="!bids.length"><td colspan="3">Waiting for bids...</td></tr>
                        <tr data-ng-repeat='b in bids'>
                            <td class="price">{{ b.bid | number:2 }}</td>
                            <td>{{ b.size | number:4 }}</td>
                            <td>{{ b.sum | number:4 }}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-condensed table-hover table-striped table-orderbook" style="table-layout: fixed">
                    <thead>
                    <!--<tr><th colspan="3">Selling</th></tr>-->
                    <tr>
                        <th class="price">Ask</th>
                        <th>Size</th>
                        <th>Sum</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-show="!asks.length"><td colspan="3">Waiting for asks...</td></tr>
                    <tr data-ng-repeat='a in asks'>
                        <td class="price">{{ a.ask | number:2 }}</td>
                        <td>{{ a.size | number:4 }}</td>
                        <td>{{ a.sum | number:4 }}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-condensed table-hover table-striped table-orderbook" style="table-layout: fixed">
                    <thead>
                        <!--<tr><th colspan="3">Trades</th></tr>-->
                        <tr>
                            <th class="price">Price</th>
                            <th>Volume</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-show="!trades.length"><td colspan="3">Waiting for trades...</td></tr>
                        <tr data-ng-repeat='t in trades|orderBy:"time":true'>
                            <td class="price">{{ t.price | number:2 }}</td>
                            <td>{{ t.volume | number:4 }}</td>
                            <td>{{ t.time | date:'HH:mm:ss'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="chartSettings.html">
        <div class="modal-header">
            <h3 class="modal-title">Chart Settings</h3>
        </div>
        <div class="modal-body">
            <h4>Orderbook Settings</h4>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Price grouping step</span>
                <select ng-model="data.orderbook_price_grouping_step" class="form-control" ng-options="step as step for step in data.orderbook_price_grouping_steps_available"></select>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Bids/Asks to show</span>
                <input class="form-control" ng-model="data.orderbook_count">
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Trades to show</span>
                <input class="form-control" ng-model="data.trade_count">
            </div>

            <h4>EMA Settings</h4>
            <!--<div class="input-group input-group-sm">-->
                <!--<span class="input-group-addon">EMA`s smooth factor</span>-->
                <!--<input class="form-control" ng-model="data.smooth_ema">-->
            <!--</div>-->
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Show Open EMA</span>
                <div class="form-control checkbox"><input type="checkbox" ng-model="data.show_open_ema"></div>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Show Close EMA</span>
                <div class="form-control checkbox"><input type="checkbox" ng-model="data.show_close_ema"></div>
            </div>

            <h4>SMA Settings</h4>
            <!--<div class="input-group input-group-sm">-->
                <!--<span class="input-group-addon">SMA period</span>-->
                <!--<input class="form-control" ng-model="data.sma_period">-->
            <!--</div>-->
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Show Open SMA</span>
                <div class="form-control checkbox"><input type="checkbox" ng-model="data.show_open_sma"></div>
            </div>
            <div class="input-group input-group-sm">
                <span class="input-group-addon">Show Close SMA</span>
                <div class="form-control checkbox"><input type="checkbox" ng-model="data.show_close_sma"></div>
            </div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-info" ng-click="ok()">Update</button>
            <button class="btn btn-cancel" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</section>

