<section ng-controller="CurrenciesController" data-ng-init="list()" class="chart_controller">
    <div class="chart">
        <form class="form-inline chart-controls" role="form" id="market_choice_form">
            <div class="form-group">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">Exchange</div>
                    <select ng-model="market" class="form-control" ng-options="m.id as m.title for m in markets_available"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">Market</div>
                    <select id="currency" ng-model="currency" class="form-control">
                        <option data-ng-repeat='c in currencies_available' value="{{ c }}">BTC/{{ c|uppercase }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">Period</div>
                    <select ng-model="period" class="form-control" ng-options="m.id as m.title for m in periods_available"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">Show</div>
                    <select ng-model="view_by" class="form-control" ng-options="m.id as m.title for m in view_modes_available"></select>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-sm">
                    <div class="input-group-addon">As</div>
                    <select ng-model="chartConfig.options.chart.type" class="form-control" ng-options="m.id as m.title for m in graph_modes_available"></select>
                </div>
            </div>

        </form>

        <highchart id="currencies_chart" config="chartConfig" class="span10"></highchart>

    </div>

</section>

