<div class="alert alert-danger" data-ng-show="flashMessage">
  {{$root.flashMessage}}
</div>
<div data-ng-include src="'/views/includes/connection.html'"></div>
<section data-ng-controller="IndexController" data-ng-init="index()">
  <div class="container-fluid">
    <div id="home" class="row">
      <div class="col-xs-12 col-md-8">

        <div data-ng-include src="'/views/includes/search.html'"></div> 

        <h1>Latest Blocks</h1>
        <table class="table table-hover table-striped" style="table-layout: fixed">
          <thead>
            <tr>
              <th>Height</th>
              <th>Age</th>
              <th class="text-right"><span class="ellipsis">Transactions</span></th>
              <th class="text-right hidden-xs"><span class="ellipsis">Mined by</span></th>
              <th class="text-right">Size</th>
            </tr>
          </thead>
          <tbody>
          <tr data-ng-show="!blocks.length"><td colspan="5">Waiting for blocks...</td></tr>
          <tr class="fader" data-ng-repeat='b in blocks'>
            <td>
              <a href="/block/{{b.hash}}">{{b.height}}</a>
            </td>
            <td><span class="ellipsis">{{humanSince(b.time)}}</span></td>
            <td class="text-right">{{b.txlength}}</td>
            <td class="text-right hidden-xs"><a href="/blocks-by-pool/{{b.poolInfo.poolName}}" title="{{b.poolInfo.poolName}}" target="_blank" data-ng-show="b.poolInfo">{{b.poolInfo.poolName}}</a></td>
            <td class="text-right">{{b.size}}</td>
          </tr>
          </tbody>
        </table>
        <div class="btn-more">
          <a href="/blocks" class="btn btn-default">See all blocks</a>
        </div>

        <!--<h2>Latest Transactions</h2>-->

        <highchart id="tx_chart" config="txChartConfig"></highchart>

        <table class="table table-hover table-striped" style="table-layout: fixed;">
          <thead>
            <tr>
              <th>Hash</th>
              <th class="text-right">Value Out</th>
            </tr>
          </thead>
          <tbody>
          <tr data-ng-show="!txs.length"><td colspan="3">Waiting for transactions...</td></tr>
          <tr class="fader" data-ng-repeat='tx in txs'>
            <td>
              <a class="ellipsis" href="/tx/{{tx.txid}}">{{tx.txid}}</a>
            </td>
            <td class="text-right"><span class="ellipsis">{{tx.valueOut}} BTC</span></td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="col-xs-12 col-md-4">
        <h2> About Us</h2>
        <p><strong>Bitcoin Chain</strong> is an informational and analytical resource about digital currency.
            We provide you with reliable up-to-date information about Bitcoin network and
            a set of analytical tools for monitoring.</p>
        <!--<div id="powered" class="row">-->
          <!--<div class="powered-text">-->
            <!--<small class="text-muted">Powered by</small>-->
          <!--</div>-->
          <!--<a href="http://bitcore.io" target="_blank" class="bitcore" title="Bitcore"></a>-->
          <!--<a href="http://angularjs.org" target="_blank" class="angularjs" title="AngularJS"></a>-->
          <!--<a href="https://code.google.com/p/leveldb/" target="_blank" class="leveldb" title="LevelDB"></a>-->
          <!--<a href="http://nodejs.org" target="_blank" class="nodejs" title="NodeJs"></a>-->
        <!--</div>-->
      </div> <!-- END OF COL-3 -->

      <div class="col-xs-12 col-md-4">
        <h2>Latest News</h2>
        <section data-ng-controller="NewsController" data-ng-init="list(10)">
            <div id="news">
                <div data-ng-show="loading">Waiting for news <span class="loader-gif"></span></div>
                <div class="fader" data-ng-repeat='n in news'>
                    <a target="_blank" href="{{ n.link }}">{{ n.title }}</a>
                    <br/>{{ n.author }}, <a target="_blank" href="{{ n.NewsProvider.base_url }}">{{ n.NewsProvider.name }}</a>
                    <br/>{{ n.pubdate | date:"medium" }}
                    <hr/>
                </div>
            </div>
        </section>
      </div>

    </div>
  </div>
</section>
