<div data-ng-include src="'/views/includes/connection.html'"></div>
<section data-ng-controller="NewsController" data-ng-init="list()">
  <div class="page-header">
    <h1>
      Latest Bitcoin News
    </h1>
  </div>
  <div id="news">
      <div data-ng-show="loading">Waiting for news <span class="loader-gif"></span></div>
      <div class="fader" data-ng-repeat='n in news'>
          <a href="{{ n.link }}">{{ n.title }}</a>
          <br/>{{ n.author }}, <a href="{{ n.NewsProvider.base_url }}">{{ n.NewsProvider.name }}</a>
          <br/>{{ n.pubdate | date:"medium" }}
          <hr/>
      </div>
  </div>
</section>

