<section ng-controller="PoolsController" data-ng-init="list()" class="chart_controller">
    <div class="col-md-6 chart">
        <highchart id="pools_pie_chart" config="pieChartConfig"></highchart>
    </div>
    <div class="col-md-6 chart">
        <table class="table table-hover table-striped table-pools">
            <thead>
                <tr>
                    <th style="cursor: pointer;" ng-click="changeSorting('pool_name')">Pool</th>
                    <th style="cursor: pointer;" ng-click="changeSorting('blocks_mined')">Blocks mined</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-show="!pool_data.length">
                    <td colspan="2" style="width: 100%; text-align: center;">Waiting for data... <span class="loader-gif"/></td>
                </tr>
                <tr data-ng-repeat='pool in pool_data|orderBy:sort.column:sort.descending'>
                    <td><a ng-if="pool.pool_name" title="View all blocks mined by {{ pool.pool_name }}" href="/blocks-by-pool/{{pool.pool_name}}">{{ pool.pool_name }}</a><span ng-if="!pool.pool_name">unknown</span></td>
                    <td>{{ pool.blocks_mined }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

