<!doctype html>
<html lang="en" data-ng-app="insight" data-ng-csp>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="fragment" content="!">
	<title data-ng-bind="($root.title + $root.titleDetail) ? ($root.title + $root.titleDetail + ' | Bitcoin Chain') : 'Bitcoin Chain'">Bitcoin Chain</title>
	<meta name="keywords" content="{{ $root.meta_keywords || 'bitcoin, blockchain, blocks, address, block chain, block observer, bitcoin transactions, btc, block explorer' }}">
	<meta name="description" content="{{ $root.meta_description || 'The easiest and the most powerful Bitcoin block explorer. Comprehensive statistics for Bitcoin transactions and market data.' }}">
	<link rel="shortcut icon" href="/img/icons/favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic">
	<link rel="stylesheet" href="/css/main.min.css">
</head>
<body ng-cloak class="ng-cloak" data-status="{{ status }}">
  <div>
    <script type="text/ng-template" id="scannerModal.html">
      <div class="modal-header">
        <h3 class="modal-title">Scan Code</h3>
      </div>
      <div class="modal-body text-center">
        <canvas id="qr-canvas" width="200" height="150"></canvas>
        <div data-ng-show="isMobile">
          <div id="file-input-wrapper" class="btn btn-primary">
            <span class="pull-left text-center">
              <i class="glyphicon glyphicon-refresh icon-rotate"></i>
              Get QR code
            </span>
            <input id="qrcode-camera" type="file" capture="camera" accept="image/*">
          </div>
        </div>
        <div data-ng-hide="isMobile">
          <video id="qrcode-scanner-video" width="300" height="225" data-ng-hide="isMobile"></video>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-ng-click="cancel()" data-dismiss="modal">Close</button>
      </div>
    </script>
  </div>
	<div id="wrap">
		<div class="navbar navbar-default navbar-fixed-top" data-ng-include="'/views/includes/header.html'" role='navigation'></div>
		<section class="container-fluid" data-ng-view id="main_content_wrap"></section>
	</div>
	<div id="footer" role="navigation">

        <div class="container-fluid pull-right" data-ng-controller="FooterController">
            <a class="status pull-right" data-ng-controller="StatusController" href="/status/">
                <div data-ng-init="getSync()" class="pull-left">
              <span class="t text-danger"  data-ng-show="sync.error" tooltip="{{sync.error}}" tooltip-placement="bottom">
                  <span  class="glyphicon glyphicon-warning-sign"></span>
                  ERROR
              </span>
              <span class="t" tooltip="{{sync.syncedBlocks}} / {{sync.blockChainHeight}} synced. {{sync.skippedBlocks || 0}} skipped" tooltip-placement="bottom" data-ng-show="sync.status==='syncing'">
                <span  class="glyphicon glyphicon-refresh icon-rotate"></span>
                {{sync.syncPercentage}}%
              </span>
                    <span class="glyphicon glyphicon-ok" tooltip="Historic sync finished" tooltip-placement="bottom" data-ng-show="sync.status==='finished'"> </span>
                </div>
                &nbsp; &middot;
                <span data-ng-init="getStatus('Info')"><strong>Conn</strong> {{info.connections}}</span> &middot;
                <strong>Height</strong> {{totalBlocks || info.blocks}}
            </a>
        </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>
	<!--<script src="/js/angularjs-all.js"></script>-->
	<script src="/js/angularjs-all.min.js"></script>

    <script src="/js/angulartics.min.js"></script>
    <script src="/js/angulartics-ga.min.js"></script>

	<script src="/js/jquery.min.js"></script>
    <script src="/js/stock/highstock.src.js"></script>
    <script src="/js/stock/exporting.src.js"></script>
    <script src="/js/vendors.min.js"></script>
    <script src="/js/main.min.js"></script>

  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38935753-2', 'auto');
//      ga('send', 'pageview'); // it's commented out for a reason, see http://luisfarzati.github.io/angulartics/

      setInterval(function () { $('.highcharts-button title').parent().remove(); }, 200); // TODO: customize it instead of simply removing
  </script>
</body>
</html>
