<div class="container-fluid">
  <div data-ng-controller="HeaderController">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="insight navbar-brand" id="logo" href="/">Bitcoin Chain</a>
    </div>
    <div class="navbar-collapse collapse" collapse="$root.isCollapsed">
      <ul class="nav navbar-nav">
        <!--<li data-ng-repeat="item in menu" ui-route="/{{item.link}}" data-ng-class="{active: $uiRoute}">-->
          <!--<a href="/{{item.link}}">{{item.title}}</a>-->
        <!--</li>-->
        <li ui-route="/blocks" data-ng-class="{active: $uiRoute}"><a href="/blocks"><span class="glyphicon glyphicon-search"></span> Block Explorer</a></li>

        <li class="dropdown" data-ng-class="{ active: is_marketchart }">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-signal"></span> Market Charts <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li ui-route="/currencies" data-ng-class="{active: $uiRoute}"><a href="/currencies">Currencies</a></li>
              <li ui-route="/markets" data-ng-class="{active: $uiRoute}"><a href="/markets">Markets</a></li>
          </ul>
        </li>

        <li ui-route="/pools" data-ng-class="{active: $uiRoute}"><a href="/pools"><span class="glyphicon glyphicon-tasks"></span> Pools</a></li>

        <!--<li ui-route="/currencies" data-ng-class="{active: $uiRoute}"><a href="/currencies">Currencies</a></li>-->
        <!--<li ui-route="/markets" data-ng-class="{active: $uiRoute}"><a href="/markets">Markets</a></li>-->
        <li><a href="https://wallet.bitcoinchain.com"><span class="glyphicon glyphicon-lock"></span> Wallet</a></li>
      </ul>
      <form id="search-form" data-ng-controller="SearchController" class="navbar-form navbar-left hidden-xs" role="search" data-ng-submit="search()">
        <div class="form-group" data-ng-class="{'has-error': badQuery}">
          <input id="search" type="text" class="form-control" data-ng-model="q" data-ng-class="{'loading': loading}"  placeholder="Search for block, transaction or address" data-ng-submit="search()">
        </div>
        <div class="no_matching text-danger" data-ng-show="badQuery">No matching records found!</div>
      </form>
      <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" data-ng-click="openScannerModal()"><span class="glyphicon glyphicon-qrcode"></span> Scan</a>
          </li>
          <!--<li class="dropdown" data-ng-controller="CurrencyController" data-ng-include="'/views/includes/currency.html'"></li>-->
      </ul>
    </div>
  </div>
</div>
